<h1>
  Product List
</h1>
{{price}}
<input type="number" class="form-control" name="price" [(ngModel)]="price" placeholder="Price">

<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Price
      </th>
      <th>
        Manufacturing Date
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | productFilter : price">
      <td>
        {{product.id | percent}}
      </td>
      <td>
        {{product.name | uppercase }}
      </td>
      <td>
        {{product.price | currency :'INR' }}
      </td>
      <td>
        {{product.mfd | date : 'dd-MMM-yyyy' }}
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-success" (click)="sendToParent()">Send To Parent</button>