<h1>
  Todo List
</h1>

<!-- {{todoList | json }} -->

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>UserId</th>
      <th>Title</th>
      <th>Completed</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr [routerLink]="[todo.id]" *ngFor="let todo of todoList">
      <td>
          {{todo.id}}
      </td>
      <td>
          {{todo.userId}}
      </td>

      <td>
          {{todo.title}}
      </td>

      <td>
          {{todo.completed}}
      </td>
      <td>
        <button class="btn btn-success" [routerLink]="[todo.id]">Details</button>
      </td>

    </tr>
  </tbody>
</table>
