<h1>
  This is product component.
</h1>
<h1>
  Product Name: {{productName}}
</h1>

<div [ngClass]="{'alert alert-danger': isVisible }" [innerText]="productName">

</div>

<div  *ngIf="isVisible" [innerText]="productName">

</div>

<button type="button" (click)="toggle()">Toggle</button>

<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Price
      </th>
      <th>
        Manufacturing Date
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList">
      <td>
        {{product.id}}
      </td>
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.price}}
      </td>
      <td>
        {{product.mfd}}
      </td>
    </tr>
  </tbody>
</table>


<div [ngSwitch]="userRole">
  <div *ngSwitchCase="'Admin'">
    This is Admin View
  </div>
  <div *ngSwitchCase="'Super Admin'">
    This is Super Admin View
  </div>
  <div *ngSwitchCase="'user'">
    This is user View
  </div>
  <div *ngSwitchCaseDefault>
    This is default view.
  </div>
</div>
