<h1>
  This is product component.
</h1>
<h1>
  Product Name: {{productName}}
</h1>

<div [ngClass]="{'alert alert-danger': isVisible }" [innerText]="productName">

</div>

<div *ngIf="isVisible" [innerText]="productName">
 </div>


<div #maindiv>

</div>

<button type="button" (click)="toggle()">Toggle</button>

<app-product-list [products]="productList" (message)="receiveFromChild($event)"></app-product-list>
<button (click)="addProduct()" class="btn btn-primary">Add product</button>


<div [ngSwitch]="userRole">
  <div *ngSwitchCase="'Admin'">
    This is Admin View
  </div>
  <div *ngSwitchCase="'Super Admin'">
    This is Super Admin View
  </div>
  <div *ngSwitchCase="'user'">
    This is user View
  </div>
  <div *ngSwitchCaseDefault>
    This is default view.
  </div>
</div>

{{messageFromChild}}

<app-product-details></app-product-details>
<app-product-details></app-product-details>
<app-product-details></app-product-details>


